.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-right: 6rem;
  padding-left: 6rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.about__information {
  flex: 1 1 50%;
  margin-bottom: 10rem;
}

.about__image-block {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  z-index: -2;
  width: 100%;
}

.about__image {
  position: relative;
  top: 0%;
  left: 10%;
  width: 80%;
  object-fit: cover;

  transition: all 0.5s ease-in;
}

// animations

.about__image--visible {
  -webkit-animation: fade-in-fwd 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-fwd 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media (max-width: $tablet-width) {
  .about__image {
    top: 0%;
    left: 0%;
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .about {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
