.about {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding-right: 6rem;
  padding-left: 6rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.about__information {
  margin-bottom: 10rem;
}

.about__image-block {
  display: flex;
  justify-content: center;
  z-index: -2;
  width: 100%;
}

.about__image {

  object-fit: cover;
}
