.coubs {
  padding-top: 8rem;
  padding-left: 15rem;
  padding-right: 15rem;

  background-color: $black;

  box-sizing: border-box;
}

.coubs__title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coubs__title {
  position: relative;
  margin-bottom: 10rem;
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.coubs__title::before {
  position: absolute;
  top: 50%;
  left: calc(50% - 380px);
  width: 240px;
  height: 1px;
  background-image: -webkit-linear-gradient(0deg, $pink 12%, $blue 88%);
  content: "";
  z-index: 2;
}

.coubs__title::after {
  position: absolute;
  top: 50%;
  left: calc(50% + 140px);
  width: 240px;
  height: 1px;
  background-image: -webkit-linear-gradient(0deg, $pink 12%, $blue 88%);
  content: "";
  z-index: 2;
}

.coubs__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
}

.coubs__item {
  display: flex;
  flex-direction: column;
  height: 35vh;
  padding: 3rem;
  border-radius: 20px;
  transition: all 0.1s ease-out;

  background-color: $bg-main;
}

.coubs__item iframe {
  width: 100%;
  height: 100%;

  margin-bottom: 2rem;
}

.coubs__card-title {
  font-weight: 300;
  font-size: clamp(1.6rem, 1vw, 2rem);
  line-height: 1;
  text-transform: uppercase;

  transition: all 0.2s ease-out;
}
