.coubs--wrapper {
  padding-bottom: 4rem;
  padding-top: 5rem;
  width: 100%;

//  --max-width: 1400px;

//  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  background-color: #0B0C10;
}

.coubs {

}

.coubs__title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coubs__title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.coubs__content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.coubs__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.coubs__image {
  width: 400px;
  height: 220px;
  background-color: #66FCF1;
}

.coubs__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.coubs__text {
  margin-bottom: 5rem;

  font-size: 2rem;
}
