.gallery--wrapper {
  padding-top: 8rem;
  padding-right: 10rem;
  padding-left: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 4rem;
}

.gallery__title {
  position: relative;
  margin-bottom: 10rem;
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}

.gallery__title::before {
  position: absolute;
  top: 50%;
  left: calc(50% - 380px);
  width: 240px;
  height: 1px;
  background-image: -webkit-linear-gradient(0deg, $pink 12%, $blue 88%);
  content: "";
  z-index: 2;
}

.gallery__title::after {
  position: absolute;
  top: 50%;
  left: calc(50% + 140px);
  width: 240px;
  height: 1px;
  background-image: -webkit-linear-gradient(0deg, $pink 12%, $blue 88%);
  content: "";
  z-index: 2;
}

.gallery__carousel {
  padding-top: 2rem;
  padding-bottom: 50px;
}

// animations

.gallery__title--visible {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.gallery__carousel--visible {
  -webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media (max-width: $tablet-width) {
  .gallery--wrapper {
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 8rem;
    margin-bottom: 0;
  }

  .gallery__title {
    margin-bottom: 8rem;
    font-size: 5rem;
  }

  .gallery__title::before {
    left: calc(50% - 320px);
    width: 200px;
  }

  .gallery__title::after {
    left: calc(50% + 120px);
    width: 200px;
  }
}

@media (max-width: $mobile-width) {
  .gallery--wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 8rem;
  }

  .gallery__title {
    margin-bottom: 4rem;
  }

  .gallery__title::before {
    left: calc(50% - 170px);
    width: 70px;
  }

  .gallery__title::after {
    left: calc(50% + 100px);
    width: 70px;
  }

  .gallery__carousel {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
