.header {
  position: relative;
  z-index: 10;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.4s;
}

.header__block--hidden {
  transform: translateY(-90px);
}

.header__block--visible {
  transform: translateY(0px);
}
