.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__toggle {
  position: fixed;
  top: 2.5rem;
  right: 4rem;
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: transparent;
  z-index: 10;
  cursor: pointer;
  outline: none;

  transform: translateY(-90px);
  transition: transform 0.2s;
}

.header__toggle--show {
  transform: translateY(0);
}

.header__toggle--inner {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: block;
  width: 30px;
  height: 20px;

  background: transparent;
  border-top: 4px solid;
  border-bottom: 4px solid;

  color: #ffffff;
  font-size: 0;

  transition: all .25s ease-in-out;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform .25s ease-in-out;
  }
}

.header__toggle[aria-expanded="true"] .header__toggle--inner {
  border-color: transparent;

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (max-width: $mobile-width) {
  .page__header[data-overlay] {
    position: relative;
    z-index: 999;
  }

  .header__navigation {
    display: none;

    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-left: auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 .75em rgb(0, 0, 0, 0.05);
  }

  .page__header[data-overlay]::before {
    content: '';
    position: fixed;
    inset: 0 0 -150px 0;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
  }

  .navigation__list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .header__navigation[data-visible] {
    display: block;
  }

  .header__toggle {
    display: block;
    position: fixed;
    top: 2.5rem;
    right: 4rem;
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: transparent;
    z-index: 10;
    cursor: pointer;
    outline: none;
  }

  .header__toggle--inner {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    width: 30px;
    height: 20px;

    background: transparent;
    border-top: 4px solid;
    border-bottom: 4px solid;

    color: #ffffff;
    font-size: 0;

    transition: all .25s ease-in-out;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;

      position: absolute;
      top: 50%;
      left: 50%;

      background: currentColor;

      transform: translate(-50%, -50%);
      transition: transform .25s ease-in-out;
    }
  }

  .header__toggle[aria-expanded="true"] .header__toggle--inner {
    border-color: transparent;

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
