.information__title {
  margin-bottom: 6rem;
  font-weight: 600;
  font-size: 16rem;
  text-transform: uppercase;
}

.information__text {
  max-width: 86rem;

  font-weight: 300;
  font-size: 6rem;
  text-transform: uppercase;
}
