.intro {
  position: relative;
  height: 100vh;
  height: 100svh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 100;
  line-height: 20px;
  text-transform: uppercase;
}

.intro--fixed {
  position: fixed;
}

.intro::before {
  background-color: rgba(0, 0, 0, 0.80);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 1;
}

.intro__inner-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1480px;
  z-index: 2;

  box-sizing: border-box;
}

.intro__inner-wrapper::after {
  position: absolute;
  bottom: -220px;
  left: 50%;
  width: 1px;
  height: 160px;
  background-image: -webkit-linear-gradient(270deg, $pink 12%, $blue 88%);
  content: "";
  z-index: 2;
}

.intro__title {
  position: relative;
  margin-bottom: 4rem;
  font-size: 16rem;
  font-size: clamp(8rem, 10vw, 16rem);
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  cursor: default;

  color: $pink;
  background-image: -webkit-linear-gradient(0deg, $pink 12%, $blue 88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__text {
  padding-left: 1rem;
  font-size: clamp(3rem, 3vw, 4rem);
  cursor: default;
}

.intro__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

@media (max-width: $tablet-width) {
  .intro {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .intro__inner-wrapper {
    max-width: 830px;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 8rem;
    align-items: flex-start;
  }

  .intro__inner-wrapper::after {
    display: none;
  }

  .intro__title {
//    font-size: clamp(8rem, 15vh, 22rem);
    font-size: clamp(7rem, 5rem + 10vh, 22rem);
    text-align: left;
    background-image: -webkit-linear-gradient(270deg, $pink 12%, $blue 88%);
  }

  .intro__text {
    font-size: clamp(2rem, 1rem + 3vw, 3.5rem);
  }
}

@media (max-width: $mobile-width) {
  .intro__inner-wrapper {
    max-width: 360px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
  }

  .intro__title {
    font-size: clamp(5rem, 5rem + 8vw, 9rem);
  }

  .intro__text {
    font-size: clamp(2rem, 1rem + 3vw, 3rem);
    line-height: 1.2;
  }
}
