.modal-photo {
  display: none;
}

.modal-photo--show {
  display: block;
}

.modal-photo__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;

  background: $bg-glass-effect;
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
}

.modal-photo__container {
  position: relative;
  max-width: 40vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: all 0.2s ease-out;
}

.modal-photo__content {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.modal-photo__link {
  cursor: zoom-in;
}

.modal-photo__cover-photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.modal-photo__close-button {
  position: fixed;
  top: 3rem;
  right: 4rem;
  width: 60px;
  height: 60px;
  padding: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer;
  border: none;
  outline: none;

  transition: transform 0.5s;
}

.modal-photo__close-button--inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: block;
  width: 40px;
  height: 40px;

  color: $white;

  transition: all .25s ease-in-out;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform .25s ease-in-out;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.modal-photo__close-button--inner:hover::before,
.modal-photo__close-button--inner:hover::after {
  width: 50px;
  box-shadow: $blue 0px 0px 30px;
  transition: all 0.1s ease-out;
}

.modal-photo__close-button--inner:active::before,
.modal-photo__close-button--inner:active::after {
  width: 50px;
  box-shadow: $pink 0px 0px 30px;
  transition: all 0.1s ease-out;
}

.modal-photo__arrow-button {
  position: fixed;
  width: 100px;
  height: 180px;
  padding: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer;
  border: none;
  outline: none;

  transition: transform 0.5s;
}

.modal-photo__arrow-button--left {
  display: block;
  top: 50%;
  left: 10rem;
  transform: translate(0, -50%);
}

.modal-photo__arrow-button--right {
  display: block;
  top: 50%;
  right: 10rem;
  transform: translate(0, -50%);
}

.modal-photo__arrow-button--hide {
  display: none;
}

.modal-photo__arrow-button--inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: block;
  width: 100px;
  height: 180px;

  color: $white;

  transition: all .25s ease-in-out;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform .25s ease-in-out;
  }
}

.modal-photo__arrow-button--inner-left {
  &:before {
    transform: translate(-50%, 325%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -325%) rotate(-45deg);
  }
}

.modal-photo__arrow-button--inner-right {
  &:before {
    transform: translate(-50%, -325%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, 325%) rotate(-45deg);
  }
}

.modal-photo__arrow-button .modal-photo__arrow-button--inner:hover::before,
.modal-photo__arrow-button .modal-photo__arrow-button--inner:hover::after {
  box-shadow: $blue 0px 0px 30px;
  transition: all 0.1s ease-out;
}

.modal-photo__arrow-button .modal-photo__arrow-button--inner-left:hover {
  &:before {
    transform: translate(-75%, 325%) rotate(45deg);
  }

  &:after {
    transform: translate(-75%, -325%) rotate(-45deg);
  }
}

.modal-photo__arrow-button .modal-photo__arrow-button--inner-right:hover {
  &:before {
    transform: translate(-25%, -325%) rotate(45deg);
  }

  &:after {
    transform: translate(-25%, 325%) rotate(-45deg);
  }
}
