.modal-photo {
  display: none;
}

.modal-photo--show {
  display: block;
}

.modal-photo__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;

  background: $bg-glass-effect;
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
}

.modal-photo__wrapper--show {
  -webkit-animation: fade-in-fwd 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-fwd 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.modal-photo__wrapper--hide {
  -webkit-animation: fade-out-bck 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: fade-out-bck 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal-photo__container {
  position: relative;
  max-width: 40vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: all 0.2s ease-out;
}

.modal-photo__container--visible {
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal-photo__container--hide {
  -webkit-animation: scale-out-center 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-center 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.modal-photo__container--slide-left-in {
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal-photo__container--slide-right-in {
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.modal-photo__content {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.modal-photo__link {
  cursor: zoom-in;
}

.modal-photo__cover-photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.modal-photo__close-button {
  position: fixed;
  top: 3rem;
  right: 4rem;
  width: 60px;
  height: 60px;
  padding: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer;
  border: none;
  outline: none;

  transition: transform 0.5s;
}

.modal-photo__close-button--inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: block;
  width: 40px;
  height: 40px;

  color: $white;

  transition: all .25s ease-in-out;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform .25s ease-in-out;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.modal-photo__close-button--inner:hover::before,
.modal-photo__close-button--inner:hover::after {
  width: 50px;
  box-shadow: $blue 0px 0px 30px;
  transition: all 0.1s ease-out;
}

.modal-photo__close-button--inner:active::before,
.modal-photo__close-button--inner:active::after {
  width: 50px;
  box-shadow: $pink 0px 0px 30px;
  transition: all 0.1s ease-out;
}

.modal-photo__arrow-button {
  position: fixed;
  width: 100px;
  height: 180px;
  padding: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer;
  border: none;
  outline: none;

  transition: transform 0.5s;
}

.modal-photo__arrow-button--left {
  display: block;
  top: 50%;
  left: 10rem;
  transform: translate(0, -50%);
}

.modal-photo__arrow-button--right {
  display: block;
  top: 50%;
  right: 10rem;
  transform: translate(0, -50%);
}

.modal-photo__arrow-button--hide {
  display: none;
}

.modal-photo__arrow-button--inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: block;
  width: 100px;
  height: 180px;

  color: $white;

  transition: all .25s ease-in-out;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform .25s ease-in-out;
  }
}

.modal-photo__arrow-button--inner-left {
  &:before {
    transform: translate(-50%, 325%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -325%) rotate(-45deg);
  }
}

.modal-photo__arrow-button--inner-right {
  &:before {
    transform: translate(-50%, -325%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, 325%) rotate(-45deg);
  }
}

.modal-photo__arrow-button .modal-photo__arrow-button--inner:hover::before,
.modal-photo__arrow-button .modal-photo__arrow-button--inner:hover::after {
  box-shadow: $blue 0px 0px 30px;
  transition: all 0.1s ease-out;
}

.modal-photo__arrow-button .modal-photo__arrow-button--inner-left:hover {
  &:before {
    transform: translate(-75%, 325%) rotate(45deg);
  }

  &:after {
    transform: translate(-75%, -325%) rotate(-45deg);
  }
}

.modal-photo__arrow-button .modal-photo__arrow-button--inner-right:hover {
  &:before {
    transform: translate(-25%, -325%) rotate(45deg);
  }

  &:after {
    transform: translate(-25%, 325%) rotate(-45deg);
  }
}

@media (max-width: $tablet-width) {
  .modal-photo__container {
    max-width: 70vw;
    max-height: 80vh;
  }

  .modal-photo__arrow-button--left {
    left: 1rem;
  }

  .modal-photo__arrow-button--right {
    right: 1rem;
  }
}

@media (max-width: $mobile-width) {
  .modal-photo__container {
    max-width: 100vw;
    max-height: 80vh;
  }

  .modal-photo__close-button {
    top: 2.5rem;
    right: 2rem;
  }

  .modal-photo__close-button--inner {
    width: 30px;
    height: 30px;

    &:before,
    &:after {
      width: 30px;
      height: 4px;
    }
  }

  .modal-photo__close-button--inner:hover::before,
  .modal-photo__close-button--inner:hover::after {
    width: 40px;
  }

  .modal-photo__close-button--inner:active::before,
  .modal-photo__close-button--inner:active::after {
    width: 40px;
  }

  .modal-photo__arrow-button {
    width: 50px;
    height: 80px;
  }

  .modal-photo__arrow-button--left {
    left: 0;
  }

  .modal-photo__arrow-button--right {
    right: 0;
  }

  .modal-photo__arrow-button--inner {
    width: 30px;
    height: 40px;

    &:before,
    &:after {
      width: 20px;
      height: 4px;
    }
  }

  .modal-photo__arrow-button--inner-left {
    &:before {
      transform: translate(-50%, 150%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -150%) rotate(-45deg);
    }
  }

  .modal-photo__arrow-button--inner-right {
    &:before {
      transform: translate(-50%, -150%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, 150%) rotate(-45deg);
    }
  }

  .modal-photo__arrow-button .modal-photo__arrow-button--inner-left:hover {
    &:before {
      transform: translate(-75%, 150%) rotate(45deg);
    }

    &:after {
      transform: translate(-75%, -150%) rotate(-45deg);
    }
  }

  .modal-photo__arrow-button .modal-photo__arrow-button--inner-right:hover {
    &:before {
      transform: translate(-25%, -150%) rotate(45deg);
    }

    &:after {
      transform: translate(-25%, 150%) rotate(-45deg);
    }
  }

  .modal-photo__arrow-button .modal-photo__arrow-button--inner::before,
  .modal-photo__arrow-button .modal-photo__arrow-button--inner::after {
    box-shadow: $black-shadow 0px 0px 10px;
  }
}
