.team__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.team__list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.team__item {
  flex: 0 0 auto;
}

.team__item:last-child {
  padding-left: 12rem;
}

.team__image {
  width: 18rem;
  height: 18rem;
  background-color: $blue;
}
