.videos {
  padding-top: 14rem;
  padding-left: 16rem;
  padding-right: 16rem;
  background-color: $bg-second;

  box-sizing: border-box;

  box-shadow: inset 0px 0px 60px 60px $black;
}

.videos__title {
  position: relative;
  margin-bottom: 10rem;
  font-size: 6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.videos__title::before {
  position: absolute;
  top: 50%;
  left: calc(50% - 380px);
  width: 240px;
  height: 1px;
  background-image: -webkit-linear-gradient(0deg, $pink 12%, $blue 88%);
  content: "";
  z-index: 2;
}

.videos__title::after {
  position: absolute;
  top: 50%;
  left: calc(50% + 140px);
  width: 240px;
  height: 1px;
  background-image: -webkit-linear-gradient(0deg, $pink 12%, $blue 88%);
  content: "";
  z-index: 2;
}

.videos__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
  row-gap: 4rem;
}

.videos__item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: all 0.2s ease-out;

  cursor: pointer;
}

.videos__item:hover {
  outline: 2px solid $pink;
  box-shadow: $pink 0px 0px 16px;
}

.videos__cover-image {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.videos__cover-image--hide {
  display: none;
}

.videos__cover-video {
  display: none;
}

.videos__cover-video--show {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.videos__card {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  border-radius: 0 0 20px 20px;
  background-color: $black;

  transition: all 0.2s ease-out;
}

.videos__item:hover .videos__card {
  background-color: $bg-main;
}

.videos__card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1;
  text-transform: uppercase;

  transition: all 0.2s ease-out;
}

.videos__item:hover .videos__card-title {
  color: $pink;
  text-shadow: $pink 0px 0px 30px;
}

.videos__card-text {
  font-weight: 200;
  opacity: 0.7;
  font-size: clamp(1.6rem, 1vw, 1.6rem);
  line-height: 1.5;
  text-transform: uppercase;

  transition: all 0.2s ease-out;
}

.videos__item:hover .videos__card-text {
  color: $blue;
  text-shadow: $blue 0px 0px 30px;
  opacity: 1;
}

.videos__cta--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14rem;
  padding-bottom: 20rem;
}

.videos__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos__button {
  width: 36rem;

  background-color: transparent;
}

// Animations

.videos__title--visible {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.videos__item-left--visible {
  -webkit-animation: fade-in-bl 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bl 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.videos__item-right--visible {
  -webkit-animation: fade-in-br 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-br 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.videos__cta--visible {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
