// font size

$fs-default: 62.5%;

$fs-100: 1.6rem;

// breakpoints

$desktop-width: 81em;
$tablet-width: 80em;
$mobile-width: 47em;

// colors

$pink: rgba(255, 119, 202, 0.9);
$blue: #7aebfb;

$pink-100: #ffa1ff;


$text: rgb(255, 255, 255);
$background: rgb(18, 18, 18);
$primary: rgb(255, 150, 255);
$secondary: rgb(21,22,24);
$accent: rgb(128, 242, 255);

