// font size

$fs-default: 62.5%;

$fs-100: 1.6rem;

// breakpoints

$desktop-width: 81em;
$tablet-width: 80em;
$mobile-width: 47em;

// colors

$white: rgba(255, 255, 255, 1);
$bg-main: rgba(18, 18, 18, 1);
$bg-glass-effect: rgba(18, 18, 18, 0.8);
$bg-second: rgba(21, 22, 24, 1);
$pink: rgba(255, 150, 255, 1);
$pink-box-shadow: rgba(255, 150, 255, 0.6);
$blue: rgba(128, 242, 255, 1);

