.navigation {
  font-size: 2rem;
  font-weight: 200;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 5vw, 3rem);
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  transition: all 0.1s ease-out;
}

.navigation__item:hover {
  transition: all 0.1s ease-out;
  padding-top: 0.5rem;
}

.navigation__link:hover {
  color: $blue;
  text-shadow: $blue 0px 0px 40px;
}

.navigation__link:active {
  opacity: 0.8;
  color: $pink;
  text-shadow: $pink 0px 0px 40px;

}
