.swiper {
  width: 100%;
}

.swiper-slide {
  align-self: center;

  background-position: center;
  background-size: cover;
  width: 400px;
}

.swiper-slide img {
  display: block;
  width: 400px;
  border-radius: 10px;

  transition: all 0.2s ease-out;
}

.swiper-slide:hover img {
  transform: scale(1.02);

  outline: 2px solid $pink;
  box-shadow: $pink 0px 0px 16px;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.swiper-pagination-bullet {
  background: $white;
  box-shadow: 0 0 12px 0 $pink;
  border-radius: 2px;
}

.swiper-pagination-bullet-active {
  background: $pink;
}

@media (max-width: $tablet-width) {
  .swiper-slide {
    width: 30vw;
    width: 30svw;
  }

  .swiper-slide img {
    width: 30vw;
    width: 30svw;
  }
}

@media (max-width: $mobile-width) {
  .swiper-slide {
    width: 80vw;
    width: 80svw;
  }

  .swiper-slide img {
    width: 80vw;
    width: 80svw;
  }
}
