.main {
  overflow: hidden;
}

.main__content {
  position: relative;
  background-color: $black;
  z-index: 5;
  margin-top: 0;
  transition: margin-top 0.3s ease;
  box-shadow: $black 0px -20px 40px;
}

/*
.main__content {
  position: relative;
  width: 100%;
  z-index: 5;
  background-color: $black;
  transition: 2s;
}

.main__content--up {
  transform: translateY(-100vh);
}

.main__content--down {
  transform: translateY(0vh);
}
*/
