/*
.main__content {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #191313;
}



*/

.main__content--wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.main__about {
  margin-bottom: 4rem;
}

.main__videos {
  margin-bottom: 4rem;
}
