.main {
  overflow: hidden;
}

.main__content {
  position: relative;
  background-color: $black;
  z-index: 5;
  margin-top: 116rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: margin-top 0.3s ease;

  box-shadow: 0px -20px 80px 80px $black;
}
