.page {
  height: 100%;
  font-family: "Arial";
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.page__body {
  height: 100%;
  margin: 0;
  color: #ffffff;
//  background-color: #191313;
  background-color: #121212;
}

.page__wrapper {
  position: relative;
}

.page__header {
  position: relative;
  z-index: 10;
}
