.page {
  height: 100%;
  font-family: "Arial";
  text-rendering: optimizeSpeed;
  font-size: $fs-default;
  line-height: 1.5;
}

.page__body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: $fs-100;
  color: $white;
  background-color: $black;
}

.page__wrapper {
  position: relative;
}

// crhome safari opera
.page::-webkit-scrollbar {
  display: none;
}

@media (max-width: $tablet-width) {
  .page__header {
    padding-top: 2rem;
  }
}
